<h1>Contacts</h1>
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Notes</th>
    </tr>
  </thead>
  <% @leads.each.with_index do |lead,index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone_number %></td>
      <td><%= lead.email %></td>
      <td><%= lead.notes %></td>
    </tr>
  <% end %>
</table>
