<h1>Create New Contact</h1>
<%= bootstrap_form_for @lead do |f| %>
  <%= f.text_field :name, label: "Name:" %>
  <%= f.text_field :phone_number, label: "Phone Number:" %>
  <%= f.text_field :email, label: "Email:" %>
  <%= f.submit "Create" %>
<% end %>
<br><br>
<h1>Contacts</h1>
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <% @leads.each.with_index do |lead,index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone_number %></td>
      <td><%= lead.email %></td>
    </tr>
  <% end %>
</table>
