<h1>Create New Contact</h1>
<%= bootstrap_form_for @lead do |f| %>
  <%= f.text_field :name, label: "Name:" %>
  <%= f.text_field :phone_number, label: "Phone Number:" %>
  <%= f.text_field :email, label: "Email:" %>
  <%= f.submit "Create" %>
<% end %>
