<h1>Create New Contact</h1>
<%= form_for @lead do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <%= f.label :phone_number, "Phone Number:" %>
  <%= f.text_field :phone_number %>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>
  <%= f.submit "Create" %>
<% end %>
<br><br>
<h1>Contacts</h1>
<table class="table table-bordered table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <% @leads.each.with_index do |lead,index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone_number %></td>
      <td><%= lead.email %></td>
    </tr>
  <% end %>
</table>
